/* Hello, if you want to make the colors according to your own theme without disturbing the design, just change the colors in the 5 lines I explained below, I hope you didn't have any problems, have a nice day :) */

/* Colors */
@define-color bg_color rgba(27, 33, 46, 0.9); /* 1) app background, search-bar & preferences button background */
@define-color window_bg @bg_color;
@define-color window_border_color rgba(179, 156, 77, 0.9); /* 2) selected text, search-bar border & preferences button border */
@define-color prefs_backgroud @bg_color;

@define-color selected_bg_color rgba(179, 156, 77, 0.6); /* 3) color: selected text background & selected item background */
@define-color selected_fg_color @window_border_color;
@define-color input_color rgba(255, 255, 255, 1); /* 4) input text & item name color */
@define-color caret_color @window_border_color;

@define-color item_name @input_color;
@define-color item_text rgba(160, 160, 160, 1); /* 5) item description & shortcut color */
@define-color item_box_selected @selected_bg_color;
@define-color item_text_selected @item_text;
@define-color item_name_selected @input_color;
@define-color item_shortcut_color @item_text;
@define-color item_shortcut_color_sel @item_text;

/* Design */
.app {
  background-color: @window_bg;
  border: none @window_border_color;
  border-radius: 10px;
  margin: -10px -10px -10px -10px;
}
.input {
  caret-color: @caret_color;
  color: @input_color;
  border: solid 1px @window_border_color;
  border-radius: 7px;
  background-color: alpha (@bg_color, 0.1);
  font-size: 120%;
  margin: -5px 0px -5px -10px;
}

/* Result items */
.item-icon {
  margin-left: -40px;
}
.item-text {
  color: @item_text;
  font-size: 90%;
  margin-left: -20px;
}
.item-name {
  color: @item_name;
  font-size: 105%;
  margin-left: -20px;
}
.item-shortcut {
  color: @item_shortcut_color;
  margin-right: -60px;
}
.result-box {
  margin: -3px 10px 0px 10px;
}

/* Seleceted item box */
.selected.item-box {
  background-color: @item_box_selected;
  border-radius: 7px;
}
.selected.item-box .item-icon {
  margin-left: -30px;
}
.selected.item-box .item-text {
  color: @item_text_selected;
  margin-left: -15px;
}
.selected.item-box .item-name {
  color: @item_name_selected;
  margin-left: -15px;
}
.selected.item-box .item-shortcut {
  color: @item_shortcut_color_sel;
  margin-right: -45px;
}

/* Preferences button */
.prefs-btn {
  margin: -5px 0px -5px -10px;
}
.prefs-btn:hover {
  background-color: alpha (@bg_color, 0.1);
  transition: 0s;
  border: solid 1px @window_border_color;
  border-radius: 7px;
}
.prefs-btn:active {
  background-color: @selected_bg_color;
}
